<!DOCTYPE hmtl>
<html>
<head>
<script>

//Fonctions click des touches

function clickit_Do(binaire)
{
document.getElementById("Do").value = binaire;
}
function clickit_Re(binaire)
{
document.getElementById("Re").value = binaire;
}
function clickit_Mi(binaire)
{
document.getElementById("Mi").value = binaire;
}
function clickit_Fa(binaire)
{
document.getElementById("Fa").value = binaire;
}
function clickit_Sol(binaire)
{
document.getElementById("Sol").value = binaire;
}
function clickit_La(binaire)
{
document.getElementById("La").value = binaire;
}
function clickit_Si(binaire)
{
document.getElementById("Si").value = binaire;
}

//Pour Afficher et Cacher des images après un certain temps


/*
let temps_action = 2000
const myTimeout_action= setTimeout(chgimage_action, temps_action);

function chgimage_action()
{
document.getElementById("action").style.visibility = "visible";
document.getElementById("base").style.visibility = "hidden";
let temps_base = 2000
const myTimeout_base = setTimeout(chgimage_base, temps_base);
}*/
/*
function chgimage_base()
{
document.getElementById("action").style.visibility = "hidden";
document.getElementById("base").style.visibility = "visible";
let temps_action = 2000
const myTimeout_action= setTimeout(chgimage_action, temps_action);
}*/

/////
let temps_action = 0
const compteur_fonct = setTimeout(touches_func, temps_action);

function touches_func()
{
    var elem = '{{ touches }}';
    var thing = parseInt(elem);
    for(let i = 1; i <= thing; i++)
    {
        var num = i;
        var cle_string = num.toString();
        document.getElementById(cle_string).style.visibility = "visible";
    }
}


</script>

</head>
<body>
<h1> Je suis dans newgame</h1>
<ul>
<li><a href='new_user'>aller vers l accueil</a></li>
<li><a href='highscores'>aller vers highscores</a></li>
<li><a href='profile'>voir mon profil</a></li>
</ul>

<!--Touches-->


<form method = "get" action = "/newgame">
<input type = "hidden" id = "Do" name = "Do" value = "0">
<input type= "image"
       id = "1"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 50px; visibility : hidden"
       onclick="clickit_Do('1');">
<input type = "hidden" id = "Re" name = "Re" value = "0">
<input type= "image"
       id = "2"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 150px; visibility : hidden"
       onclick="clickit_Re('1');">
<input type = "hidden" id = "Mi" name = "Mi" value = "0">
<input type= "image"
       id = "3"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 250px; visibility : hidden"
       onclick="clickit_Mi('1');">
<input type = "hidden" id = "Fa" name = "Fa" value = "0">
<input type= "image"
       id = "4"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 350px; visibility : hidden"
       onclick="clickit_Fa('1');">
<input type = "hidden" id = "Sol" name = "Sol" value = "0">
<input type= "image"
       id = "5"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 450px; visibility : hidden"
       onclick="clickit_Sol('1');">
<input type = "hidden" id = "La" name = "La" value = "0">
<input type= "image"
       id = "6"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 550px; visibility : hidden"
       onclick="clickit_La('1');">
<input type = "hidden" id = "Si" name = "Si" value = "0">
<input type= "image"
       id = "7"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 650px; visibility : hidden"
       onclick="clickit_Si('1');">
</form>

<!--Touches à jouer-->

<input type= "image"
       id = "action"
       src="../static/img/orange_obscur.jpg"
       top = "20%"
       left = "10%"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 50px; visibility : hidden" disabled = "disabled">
</body>
</html>








