<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Jeu Simon</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<h1> Tu es connecté </h1>
<div>Salut {{ username }}</div>
<ul>
<li><a href='/logout'>logout</a></li>
<li><a href='highscores'>aller vers highscores</a></li>
<li><a href='profile'>voir mon profil</a></li>
<li><a href='revoir_partie'>revoir une partie</a></li>
<li><a href='niveau'>commencer une nouvelle partie</a></li>
</ul>

</body>
</html>


















