<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Jeu Simon</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<a class = "con" href='connection'>Connexion</a>

<a class = "ins" href='inscription'>Inscription</a>

<figure>
<figcaption  style = "position : absolute; top: 125px; left: 350px">Clavier 54 Nancy</figcaption>
<img   src="../static/img/piano_memories_and_inspiration.jpg"
       alt = "inspiration"
       width = "200"
       height = "267"
       style = "position : absolute; top: 150px; left: 310px; visibility : visible">
</figure>
</body>
</html>
