<!DOCTYPE hmtl>
<html>
<head>
<script>



//Fonction click des touches

function clickit(touche)
{
    ajouter_elem_liste_melodie(melodie_joue, touche);
}


//Fonction pour envoyer le form

function form_send(liste_form)
{
	touches_func();
	var liste_str = liste_form.toString();
      document.getElementById('coup').value = "[" + liste_str + "]";
	document.getElementById('liste_coup').submit();
}

//Pour construire le coup joué

function ajouter_elem_liste_melodie(liste, elem)
{

    if (liste.length < indice_int)
    {
        if (melodie_int[it] == elem)
        {
            liste.push(elem);
            it++;
        }
        else
        {	
		let t_form = 1000;
		const func_form = setTimeout(form_send, t_form, liste);
        }
    }
    if (liste.length == indice_int)
    {
        let t_form = 1000;
	  const func_form = setTimeout(form_send, t_form, liste);
    }
}


//Son au click

function JouerSon() {
    var sound = document.getElementById("son");
    sound.play();
}



//Pour desactiver les touches cliquables du piano


function touches_func()
{
    for(let i = 1; i <= 7; i++)
    {
        var num = i;
        var cle_string = num.toString();
        document.getElementById(cle_string).disabled = true;
    }
}




//Pour Cacher des images

function chgimage_action(id, i, taille)
{
    i++;
    var id_string = id;
    var id_int = parseInt(id_string);
    id_int = id_int - 7;
    var id_string7 = id_int.toString();
    document.getElementById(id).style.visibility = "hidden";
    document.getElementById(id_string7).style.visibility = "visible";
    if (i < taille)
    {
    let t = 0;
    const func_image = setTimeout(touches_partie, t, i);
    }
}


//Pour afficher les cases qui doivent être joués

function touches_partie(i)
{
    //boucle recursive pour afficher les images
    var num = melodie_int[i] + 7;  //+7 pour prendre le images des cases qui vont au dessus, qui doivent être joués
    var cle_string = num.toString();
    var num_i = melodie_int[i];
    var cle_string_i = num_i.toString();
    document.getElementById(cle_string).style.visibility = "visible";
    document.getElementById(cle_string_i).style.visibility = "hidden";
    var taille = melodie_int.length;
    let temps_chg = 1000;
    const compteur_fonct = setTimeout(chgimage_action, temps_chg, cle_string, i, taille);

    //boucle standard pour pouvoir cliquer
    for(let i = 1; i <= 7; i++)
    {
        var num = i;
        var cle_string = num.toString();
        document.getElementById(cle_string).disabled = false;
    }
}



//Soit on montre ce qui doit être joué soit on attend le click d'une touche

var indice = "{{ indice }}";
var indice_int = parseInt(indice);
var melodie = '{{ melodie }}';
var melodie_int = JSON.parse(melodie); //Transformation en liste de int


var melodie_joue = []; //le coup

let temps = 0;
const desactiver_touches = setTimeout(touches_func, temps);

var i = 0; //iterateur utilisé pour l'affichage des images
var it = 0; //iterateur de coup(verification melodie)
let temps_partie = 1000;
const compteur_partie = setTimeout(touches_partie, temps_partie, i);


</script>

</head>
<body>
<h1> Je suis dans newgame</h1>
<ul>
<li><a href='new_user'>aller vers l accueil</a></li>
<li><a href='highscores'>aller vers highscores</a></li>
<li><a href='profile'>voir mon profil</a></li>
</ul>


<!--Audio-->

<audio id="son" src="../static/sound/do_court.mp3">
</audio>


<!--Le coup est communiqué à python pour qu'il puisse verifier s'il correspond à la melodie attendue-->

<form id = "liste_coup" method = "get" action = "/newgame">
<input type = "hidden" id = "coup" name = "coup" value = "coup">
</form>


<!--Touches cliquables-->

<input type= "image"
       id = "1"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 50px; visibility : visible"
       onclick="clickit(1);JouerSon()">
<input type= "image"
       id = "2"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 150px; visibility : visible"
       onclick="clickit(2);JouerSon()">
<input type= "image"
       id = "3"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 250px; visibility : visible"
       onclick="clickit(3);JouerSon()">
<input type= "image"
       id = "4"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 350px; visibility : visible"
       onclick="clickit(4);JouerSon()">
<input type= "image"
       id = "5"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 450px; visibility : visible"
       onclick="clickit(5);JouerSon()">
<input type= "image"
       id = "6"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 550px; visibility : visible"
       onclick="clickit(6);JouerSon()">
<input type= "image"
       id = "7"
       src="../static/img/orange_on.png"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 650px; visibility : visible"
       onclick="clickit_Si(7);JouerSon()">

<!--Touches à jouer-->

<input type= "image"
       id = "8"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 50px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "9"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 150px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "10"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 250px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "11"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 350px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "12"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 450px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "13"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 550px; visibility : hidden" disabled = "disabled">
<input type= "image"
       id = "14"
       src="../static/img/orange_obscur.jpg"
       width = "100"
       height = "100"
       style = "position : absolute; top: 300px; left: 650px; visibility : hidden" disabled = "disabled">
</body>
</html>








